.TabelaProdutos table {
  width: 100%;
}

.TabelaProdutos th {
  background-color: rgb(155, 248, 248);
}

.TabelaProdutos .Par {
  background-color: #ddd;
}

.TabelaProdutos .Impar {
  background-color: #ccc;
}
